/***** Base Styles *****/

body {
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  color: white;
  background-color: #01052a;
}



#portfolio {
  height: 1550px;
}

#about #contact {
  height: 500px;
}

/***** Grid *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** Header *****/

header #navigation{
  height: 85px;
  background-color: #01052a;
  /* background: url("../img/keyboard.jpg");
  background-size: cover; */

}

header #header-pic {
  height: 600px;
  background: url("../img/keyboard.jpg");
  background-size: cover;
  float: left;
  margin: 0 0 100px 0;
}

header h3 {
  margin: 25px;
}


header h1 {
  font-size: 48px;
  margin: 200px 100px;
}

header h1 span {
  color: #b1227c;
}

nav {
  height: 40px;
  float: right;
  margin: 15px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
  margin-right: 25px;
}


nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: #b1227c;
}

/***** Portfolio *****/

#portfolio {
  background-color: #01052a;
  clear:both;
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

#portfolio div {
  height: 350px;
}

 /* {
  height: 75px;
} */

#portfolio h3 {
  height: 50px;
  color: #b1227c;
  clear: both;
  padding-top: 30px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 80px;

}

#portfolio img {
  height: 300px;
  width: 450px;
  padding: 0 75px;
  float: left;
  /* text-align: center; */
}

#portfolio p {
  text-align: left;
  font-size: 24px;
  padding-left: 75px;
}

#portfolio span {
  font-size: 32px;
}

/***** About Me *****/

#about {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

#about h3 {
  height: 50px;
  font-size: 2em;
  color: #b1227c;
  text-align: center;
  margin-bottom: 100px;
}

#about p {
  margin-left: 75px;
  margin-top: 50px;
  font-size: 24px;
}

#about span {
  color: #b1227c;
}

#about img {
  height: 275px;
  width: 225px;
  margin-top: 40px;
  margin-left: 200px;
}

/***** Contact *****/

#contact {
  height: 300px;
  width: 1200px;
  margin: 0 auto;
}

#contact div {
  height: 250px;
  text-align: center;
}
#contact h3 {
  height: 50px;
  font-size: 2em;
  color: #b1227c;
  text-align: center;
}

.contact-titles {
  font-size: 24px;
  text-align: center;
}

#contact p {
  font-size: 21px;
  /* text-align: center; */
  margin-top: 20px;
  width: 250px;
  display: inline-block;
  text-align: center;
}

#contact a {
  /* text-align: center; */
  height: 100px;
  width: 200px;
  text-decoration: none;
  color: white;
}

#contact a:hover {
  color: #b1227c
}

#contact a span {
  margin: 0 20px;
}

#contact a:visited {
  color: white;
}

#contact #copyright {
  width: 400px;
  height: 100px;
  /* margin-bottom: 30px; */
  clear: both;
}

#contact #copyright p {
  width: 300px;
  margin-bottom: 20px;
}

/***** Advice Website link *****/


/* Karla Perez Advice */
.karlaperez-advice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.karlaperez-advice h1  {
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 38px;
  padding: 0 50px 0 50px;
}

.karlaperez-advice span {
  color: #cc0000;
}

.karlaperez-advice h4 {
  color: #cc0000;
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 24px;
  margin-bottom: 0;
}

.karlaperez-advice p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding: 0 100px 0 100px;
}

.karlaperez-advice footer {
  color: #cc0000;
  text-align: center;
}
